<ion-content padding>
  <ion-grid class="full-height">
    <ion-row class="full-height" justify-content-center align-items-center>
      <ion-grid>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-thumbnail>
              <ion-img src="assets/logo.png" alt="Go One"></ion-img>
            </ion-thumbnail>
          </ion-row>
          <ion-row justify-content-center>
            <ion-text color="primary">
              <h1>Go One</h1>
            </ion-text>
          </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="Enter email address"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" placeholder="Enter password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button color="primary" expand="block">Login</ion-button>
        <a ion-anchor href="/signup">Create a new account</a>
      </ion-grid>

    </ion-row>
  </ion-grid>

</ion-content>
